@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --latar-main: #FFFFFF;
    --putih: #FFFFFF;
    --latar-kedua: #94D4EC;
    --hover: #40A2E3;
    --sora: #687EFF;
    --art: #FFB000;
    --header: #202020;
    --hitam: #000000;
    
}

.sora {
    color: var(--sora);
}


* {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Heading */

.navbar {
    position: fixed;
    background: var(--header);
    color: var(--putih);
    padding: 15px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 960px;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 1.3rem;
    color: var(--putih);
    transition: all 0.3s ease;
}

.brand span {
    color: var(--sora);
}

.brand:hover {
    color: var(--hover);
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: var(--putih);
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--hover);
}

.nav-links li a.active {
    color: var(--latar-kedua);
    font-weight: bold;
}

/* Setelan Teks & Transcript */

pre {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

/* Hal Utama */
main {
    flex: 1;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero-content span {
    color: var(--sora);
}

.hero-content a.btn {
    display: inline-flex;
    padding-top: 12px;
}

.btn {
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 1.5em;
}

.btn:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

/* Fan Art */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    position: relative;
    text-align: center;
  }
  
  .carousel-item img {
    max-width: 500px;
    max-height: 5000px;
    width: auto;
    height: auto;
    margin: auto;
  }
  
  
  .image-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  






section {
    padding: 80px;
}

#fanart h1 {
    padding: 80px;
    color: var(--sora);
}

#fanart h1 span {
    color: var(--art);
}



/* Perkenalan */

#perkenalan {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
}


/* Footer */
.footer {
    width: 100%;
    background: var(--header);
    color: var(--putih);
    padding: 20px 0;
    margin-top: auto;
}

.footer p {
    text-align: center;
}




/* Mobile Web CSS */

@media only screen and (max-width: 600) {
    .navbar {
        position: absolute;
        display: block;
    }

    .nav-links li {
        margin-left: 80px;
    }
}







/* Animasi */

@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
